body,div,ul,li,a,p,h1,h2,h3,h4,h5,span,img,header,section{
    margin:0px;
    padding: 0px;
}
ul,li{
    list-style: none;
}
em{
	font-style: normal;
}
html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
a{text-decoration: none;}