body{
	margin:0 50px;
}
h2{
	margin-bottom: 10px;
    line-height: 1.4;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
}
.sub-title{
	text-align: center;
}
ul,li{
	list-style: none;
}
a{
	min-height: 1em;
    color: rgb(62, 62, 62);
    line-height: 25.6px;
    box-sizing: border-box !important;
    word-wrap: break-word !important;
    color: #607fa6;
    text-decoration: none;
}
a.list-a{
    font-size: 24px;
}