            html,body{
                background: #fff;
            }
            body{
                padding-bottom: 50px;
            }

            .demo{
                margin:0 40px;

            }
            .demo *{line-height: 150%;margin-top: 10px;}
            .demo h1{
                border-bottom: 1px solid #eee;
                padding-bottom: 10px;
                font-size: 30px;
                text-align: left;
            }

            .demo h2{
                margin-top: 20px;
                border-bottom: 1px solid #eee;
                padding-bottom: 10px;
                font-size: 26px;
                text-align: left;
            }
            .demo h3{
                margin-top: 10px;
                border-bottom: 1px solid #eee;
                padding-bottom: 10px;
                font-size: 24px;
                text-align: left;
            }
            .demo h4{
                margin-top: 10px;
                border-bottom: 1px solid #eee;
                padding-bottom: 10px;
                font-size: 20px;
                text-align: left;
            }
            .demo h5{
                margin-top: 5px;
                border-bottom: 1px solid #eee;
                padding-bottom: 10px;
                font-size: 18px;
            }
            .demo p{
                font-size: 18px;
            }
            .demo ul,.demo ul li{
                margin-left: 10px;
                font-size: 18px;
            }
            .demo ul.disc,.demo ul.desc li{
                list-style-type: disc;
            }
            .demo ul.decimal,.demo ul.decimal li{
                list-style-type: decimal;
            }
            .demo pre{
                padding: 6px 16px;
                overflow: auto;
                font-size: 85%;
                line-height: 1.45;
                background-color: #f7f7f7;
                border-radius: 3px;
            }
            .demo code{
                display: inline;
                max-width: auto;
                padding: 0;
                margin: 0;
                overflow: visible;
                line-height: inherit;
                word-wrap: normal;
                background-color: transparent;
                border: 0;
                font-size: 18px;
            }
            .demo blockquote{
                margin: 0;
                padding-left: 10px;
                border-left: 3px solid #dbdbdb;
            }
            .demo img{display: block;margin: 0}
            .demo img.center{
                display: block;
                max-width: 100%;                                
                margin: 0 auto;
            }
            .demo hr{
                display: block;
                margin-bottom: 80px;

            }
            .demo hr:after{
                content: " ";
                display: block;
                width: 0;
                height: 0;
                overflow: hidden;

            }