{{
    var avgProfitRate = it._SHARE_PAGE.avgProfitRate || '-';
    var avgLossRate = it._SHARE_PAGE.avgLossRate || '-';

    var name = null;
	switch (it._BASE.CURRENT_LANG){
        case 'zh_TW':
        name = it._SHARE_PAGE.stockResponseObject.name || null;
        break;
        case 'zh_CN':
        name = it._SHARE_PAGE.stockResponseObject.nameCn || null;
        break;
        case 'en':
        name = it._SHARE_PAGE.stockResponseObject.nameEn || null;
        break;
    }


}}
<div class = "header-bg">
	{{?it._SHARE_PAGE.callMemberResponseObjectList.length >0}}
    <h2 class = "header-title">{{=it._SHARE_PAGE.callMemberResponseObjectList[0].name}}</h2>
    <a style="background: url('{{=it._SHARE_PAGE.callMemberResponseObjectList[0].imageUrl}}') center center no-repeat / cover;" class = "header-icon" href = "javascript:void(0)"></a>
    {{??}}
    <h2 class = "header-title">null</h2>
    <a class = "header-icon" href = "javascript:void(0)"></a>
    {{?}}
</div>
<div class = "header-recommend">
    <span class = "header-recommend-state">{{=it._BASE._STRING._HEADER_STATE}}</span>
    <h4 class = "header-recommend-name">{{=name}}</h4>
    <span class = "header-recommend-number">{{=it._SHARE_PAGE.stockResponseObject.id}}</span>
    <div class = "header-behave clearfix">
        <div class = "header-behave-left clearfix">
            <span class = "header-behave-name">{{=it._BASE._STRING._CALLING_LOST}}{{=it._BASE._STRING._SHOW}}</span>
            <div class = "header-behave-info">
            	{{? avgLossRate != '-'}}
                <span class = "header-behave-number">+<strong>{{=avgLossRate}}</strong>%</span>
            	{{??}}
            	<span class = "header-behave-number"><strong>{{=avgLossRate}}</strong></span>
            	{{?}}
            </div>
        </div>
        <div class = "header-behave-right clearfix">
            <span class = "header-behave-name win">{{=it._BASE._STRING._CALLING_PROFIT}}{{=it._BASE._STRING._SHOW}}</span>
            <div class = "header-behave-info">
            	{{?avgProfitRate != '-'}}
                <span class = "header-behave-number lose ">-<strong>{{=avgProfitRate}}</strong>%</span>
            	{{??}}
            	<span class = "header-behave-number lose "><strong>{{=avgProfitRate}}</strong></span>
            	{{?}}
            </div>
        </div>
    </div>
</div>