
{{
    var startPrice = it._SHARE_PAGE.startPrice || '-';

    var targetPrice = it._SHARE_PAGE.targetPrice || '-';
    var lastPrice = it._SHARE_PAGE.lastPrice || '-';
    var stopPrice = it._SHARE_PAGE.stopPrice || '-';

    var avgStartPrice = it._SHARE_PAGE.avgStartPrice || '-';
    var avgProfitRate = it._SHARE_PAGE.avgProfitRate || '-';
    var avgLossRate = it._SHARE_PAGE.avgLossRate || '-';

    var stopLoss = it._SHARE_PAGE.stopLoss || '-';
    var stopProfit = it._SHARE_PAGE.stopProfit || '-';
    var calling = it._SHARE_PAGE.calling || '-';
}}
<hr class = "hr-style clearfix">
<div class = "share-page-content clearfix">
    <div class = "share-page-left">
        <div class = "share-page-info">
            <ul class = "clearfix">
                <li>
                    <span class = "share-page-name">{{=it._BASE._STRING._START_PRICE}}</span>
                    <span class = "share-page-value">{{=startPrice}}</span>
                </li>
                <li>
                    <span class = "share-page-name">{{=it._BASE._STRING._AVG_PRICE}}</span>
                    <span class = "share-page-value">{{=avgStartPrice}}</span>
                </li>
                <li>
                    <span class = "share-page-name">{{=it._BASE._STRING._TARGET_PRICE}}</span>
                    <span class = "share-page-value">{{=targetPrice}}</span>
                </li>
                <li>
                    <span class = "share-page-name">{{=it._BASE._STRING._STOP_PRICE}}</span>
                    <span class = "share-page-value">{{=stopPrice}}</span>
                </li>
                <li>
                    <span class = "share-page-name">{{=it._BASE._STRING._CALLING_PROFIT}}</span>
                    <span class = "share-page-value">{{=avgProfitRate}}</span>
                </li>
                <li>
                    <span class = "share-page-name">{{=it._BASE._STRING._CALLING_LOST}}</span>
                    <span class = "share-page-value">{{=avgLossRate}}</span>
                </li>
            </ul>
        </div>
    </div>
    <div class = "share-page-right">
        <div class = "share-page-chart clearfix" id = "chart">
            <h3 class = "chart-page-title">{{=it._BASE._STRING._CALLING_BUY}}{{=it._BASE._STRING._SHOW}}</h3>
            <div class = "chart-warper">
                <div class = "chart-warper-item">
        	       <canvas class="chart-area" id = "chartArea" style="width: 192px;height: 96" width="96" height="96" /></canvas>
               </div>
            </div>
            <div class = "chart-page-list">
                <ul class = "clearfix">
                    <li class = "chart-add">
                        <span class = "chart-name">{{=it._BASE._STRING._CALLING}}</span>
                        <span class = "chart-value">{{=calling}}</span>
                    </li>
                    <li class = "chart-win">
                        <span class = "chart-name">{{=it._BASE._STRING._SHOP_PROFIT}}</span>
                        <span class = "chart-value">{{=stopProfit}}</span>
                    </li>
                    <li class = "chart-lose">
                        <span class = "chart-name">{{=it._BASE._STRING._SHOP_LOSS}}</span>
                        <span class = "chart-value">{{=stopLoss}}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{{
    var date = new Date(it._SHARE_PAGE.createTime);
}}
<div class = "share-page-footer">
	<span class = "share-page-stock">{{=it._BASE._STRING._PUSH_DATE}}</span>
	<span class = "share-page-date">{{=date.format('yyyy/MM/dd/ hh:mm')}}</span>
</div>